:root {
      --clr-primary-900: #FC4100;
      --clr-primary-700: #f24911f9;
      --clr-secondary-900: #001233;
      --clr-secondary-700: #00215E;
      --clr-success-900: #28A745;
      --clr-success-700: #349e4c;
      --clr-danger: #ff001a;
      --clr-warning: #FFC107;
      --clr-light: #ffffff;
      --clr-accent-900: #e1eefc;
      --clr-accent-700: #d3d3d3;
      --clr-dark: #000000;
    
      --font-family: 'Roboto', sans-serif;
      --line-height: normal;
    
      --spacing-xs: 1.25rem; 
      --spacing-sm: 1.75rem;  
      --spacing-md: 2rem; 
      --spacing-lg: 2.5rem; 
      --spacing-xl: 4rem; 
    
      --transition-fast: 0.1s;
      --transition-normal: 0.3s;
      --transition-slow: 0.5s;
    
       /* ==== global font size variables ====  */
       --fs-xxs: 0.75rem;  
      --fs-xs: 0.875rem;  
      --fs-sm: 1rem; 
      --fs-base: 1rem;      
      --fs-md: 1rem;        
      --fs-lg: 1.125rem;    
      --fs-xl: 1.25rem;     
      --fs-2xl: 1.5rem;     
      --fs-3xl: 1.6875rem;  
      --fs-4xl: 2rem;       
      --fs-5xl: 2.3125rem;  
      --fs-6xl: 2.625rem;   
    
       /* ======= line height ======== */
       --lh-normal: normal;
    }
/* TODO: have to delete above code */



[data-lan="en"], [data-lan="bn"] {
      display: none;
    }
    
    :lang(en) [data-lan="en"] {
      display: inline;
    }
    
    :lang(bn) [data-lan="bn"] {
      display: inline;
    }

    
body{
      background-color: var(--clr-accent-900);
      font-size: var(--fs-base); 
      line-height: var(--lh-normal);
      color: var(--clr-dark);
      font-family: var(--font-family);
      position: relative;
      box-sizing: border-box;
}

body.dark{
      background-color: var(--clr-dark);
      color: var(--clr-light);
}


.TN_main{
      height: 100vh;
      height: 100dvh;
      overflow-y: auto;
}

/* header style starts */

.TN_header{
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      padding: 20px 16px;
      background-color: var(--clr-secondary-700);
      color: var(--clr-accent-900);
      z-index: 9999;
}

.TN_header nav{
      gap: 15px;
      justify-content: end;
}

.TN_header .theme-toggler{
      background:linear-gradient(to right, rgba(0, 0, 0, 0.488), rgba(255, 255, 255, 0.407));
      width: 50px;
      height: 30px;
      border-radius: 30px;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.336);
      position: relative;
}

.TN_header .theme-toggler .icon-box{
      width: 28px;
      height: 100%;
      position: relative;
      padding: 3px 1.5px;
      transition:var(--transition-normal) ease-out;
      transform: translateX(65%);
      background-color: transparent;
}
 
.dark .TN_header .icon-box{
      transform: translateX(0);
}


.TN_header .theme-toggler img{
      width: 23px;
      height:23px;
      object-fit: contain;
      position: absolute;
      top: 2.5px;
      left: 3px;
      transition: var(--transition-normal);
}

.TN_header .theme-toggler img.moon{
      opacity: 0;
}

.dark .TN_header .theme-toggler img.moon{
      opacity: 1;
}

.dark .TN_header .theme-toggler img.sun{
      opacity: 0;
}

.TN_header .theme-toggler .icon-box .hidden{
      display: none;
}

.TN_header #language-selector{
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem;
}

.TN_header #language-selector,
.TN_header #language-selector:focus,
.TN_header #language-selector:active{
      background-color: var(--clr-secondary-700);
      color: var(--clr-accent-900) !important;
}




.TN_header{}
.TN_header{}









/* theme toggelr */
/* header style ends */

/* onboarding page  registration /login */

#onboarding-page{
      max-width: 450px;
      margin: 0 auto;
}

#onboarding-page.TN_main{
      padding-top: 100px;
}

.TN_into-slider-wrap{
      width: 100%;
}

.TN_into-slider-wrap .TN_intro-slider{
}
.TN_into-slider-wrap .TN_intro-slide{
}

.TN_into-slider-wrap picture,
.TN_into-slider-wrap picture img{
      width: 100%;
      margin: 0 auto;
      display: block;
}

.TN_into-slider-wrap picture img{
      max-width: 200px;
}


.TN_into-slider-wrap p{
      text-align: center;
      display: block;
      padding: 0 40px;
      margin: 0 auto;
      margin-top: 25px;
}

.TN_into-slider-wrap .slick-dots{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      gap: 10px;
}


.TN_into-slider-wrap .slick-dots li{
width: 8px;
height: 8px;
border-radius: 50%;
background-color: var(--clr-primary-700);
transition: width var(--transition-normal);
}

.TN_into-slider-wrap .slick-dots li.slick-active{
      width: 15px;
      border-radius: 5px;
}


.TN_into-slider-wrap .slick-dots button{
      opacity: 0;
}
.TN_into-slider-wrap .button-box{
     margin-top: 15px; 
}



/* authentication */
.authentication-wrap{

margin-top: 30px;

margin-bottom: 20px;
}

.authentication-inner{
  width: 100%;
  flex-grow: 1;
  height: 100%;
}
.authentication-inner h3{
      /* text-align: center; */
}

.authentication-inner form{
      width: 100%;
}

.authentication-inner form .input-box{
      width: 100%;
      position: relative;
}
.authentication-inner form input{
      width: 100%;
      padding: 10px 10px;
      padding-left: 35px;
      border-radius: 3px;
      border: none;
      margin-bottom: 10px;
      background-color: var(--clr-light);
      border-radius: 6px;
      margin-top: 10px;
      position: relative;
      z-index: 0;
      transition: var(--transition-normal);
      border: 1px solid var(--clr-light);
}

.authentication-inner form input:focus{
      border: 1px solid var(--clr-primary-500);
      outline: none;
      box-shadow: unset;
}

.dark .authentication-inner form input{
      background-color: rgba(130, 130, 130, 0.305);
      border: 1px solid rgba(130, 130, 130, 0.305);
      color: var(--clr-light);
}

.authentication-inner form .input-box::before{
 content: "";
 width:18px;      
 height: 18px;
 position: absolute;
 top: 50%;
 left: 10px;
 transform: translateY(-50%);
 background: url(../media/icon/phone-black.svg);
 display: block;
 background-repeat: no-repeat;
 z-index: 10;
}

.dark .authentication-inner form .input-box::before{
      background: url(../media/icon/phone-white.svg);
}

.authentication-inner .register-info{
      margin-bottom: 10px;
}
.authentication-inner .terms{
      margin-top: 10px;
      text-align: center;
}

.authentication-inner .terms a{}




/* ================= 
      Device responsiveness
             ================== */


/* phones ( small, medium ) */
@media screen and (min-width: 561px) {

      /* onboarding page */
      #onboarding-page{
            max-width: 500px;
      }
    }
    
    /* phones ( extra large )  */
    @media screen and (min-width: 768px) {
    
    }
    
    
    /* tablets ( medium )  */
    @media screen and (min-width: 841px) {
    
    }
    
    
    
    /* tablets ( extra large )  */
    @media screen and (min-width: 1024px) {

      /* header */
      .TN_header {
            padding: 20px 20px;
        }



      /* onboarding page content */
      #onboarding-page.TN_main{
            max-width: 500px;
            padding-top: 0;
      }

      .TN_into-slider-wrap picture img {
            max-width: 300px;
        }

      #onboarding-page .authentication-wrap{
            flex-grow: 0;
      }

      #onboarding-page .button-box{
            flex-grow: 0;
            margin-top: 40px;
      } 
    }
    
    
    
    
    
    /* small monitor */
    @media screen and (min-width: 1241px) {
    
    }
    
    
    
     /* large monitor */
     @media screen and (min-width: 1441px) {
     
     }