
/* ===========================
   CSS Reset (Cross-browser)
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

select{
 /* Default state styles */
 /* appearance: none;
 -webkit-appearance: none; 
 -moz-appearance: none; */
}

select:focus {
  outline: none;
}

select:hover {
  /* border-color:transparent */
}

select::-ms-expand {
  /* display: none; */
}


button {
  cursor: pointer;
  border: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* ===========================
   Root Variables
=========================== */
:root {
  --clr-primary-900: #FC4100;
  --clr-primary-700: #f24911f9;
  --clr-secondary-900: #001233;
  --clr-secondary-700: #00215E;
  --clr-success-900: #28A745;
  --clr-success-700: #349e4c;
  --clr-danger: #ff001a;
  --clr-warning: #FFC107;
  --clr-light: #ffffff;
  --clr-accent-900: #e1eefc;
  --clr-accent-700: #d3d3d3;
  --clr-dark: #000000;

  --font-family: 'Roboto', sans-serif;
  --line-height: normal;

  --spacing-xs: 1.25rem; 
  --spacing-sm: 1.75rem;  
  --spacing-md: 2rem; 
  --spacing-lg: 2.5rem; 
  --spacing-xl: 4rem; 

  --transition-fast: 0.1s;
  --transition-normal: 0.3s;
  --transition-slow: 0.5s;

   /* ==== global font size variables ====  */
   --fs-xxs: 0.75rem;  
  --fs-xs: 0.875rem;  
  --fs-sm: 1rem; 
  --fs-base: 1rem;      
  --fs-md: 1rem;        
  --fs-lg: 1.125rem;    
  --fs-xl: 1.25rem;     
  --fs-2xl: 1.5rem;     
  --fs-3xl: 1.6875rem;  
  --fs-4xl: 2rem;       
  --fs-5xl: 2.3125rem;  
  --fs-6xl: 2.625rem;   


   /* ======= line height ======== */
   --lh-normal: normal;
}

/* =====================
  root variable responsiveness
========================*/

/* phones ( small, medium ) */
@media screen and (min-width: 561px) {
  :root{
    
  --spacing-xs: 1.35rem; 
  --spacing-sm: 1.95rem;  
  --spacing-md: 2.5rem; 
  --spacing-lg: 3rem; 
  --spacing-xl: 4.6rem; 

   /* ==== global font size variables ====  */
   --fs-base: 1.0156rem;   
  --fs-md: 1.05rem;       
  --fs-lg: 1.175rem;      
  --fs-xl: 1.3125rem;     
  --fs-2xl: 1.5625rem;    
  --fs-3xl: 1.75rem;      
  --fs-4xl: 2.1rem;       
  --fs-5xl: 2.6rem;       
  --fs-6xl: 3rem;         
  }
}

/* phones ( extra large )  */
@media screen and (min-width: 768px) {
  :root{
    --spacing-xs: 1.45rem;   
    --spacing-sm: 2.15rem;   
    --spacing-md: 3rem;      
    --spacing-lg: 3.5rem;    
    --spacing-xl: 5.2rem;    
  
    /* ==== global font size variables ==== */
    --fs-base: 1.0312rem;   
    --fs-md: 1.1rem;        
    --fs-lg: 1.225rem;      
    --fs-xl: 1.375rem;      
    --fs-2xl: 1.625rem;     
    --fs-3xl: 1.8125rem;    
    --fs-4xl: 2.2rem;       
    --fs-5xl: 2.8875rem;    
    --fs-6xl: 3.375rem;     
  
  }
}


/* tablets ( medium )  */
@media screen and (min-width: 841px) {
  :root{
    --spacing-xs: 1.55rem;   
    --spacing-sm: 2.35rem;   
    --spacing-md: 3.5rem;    
    --spacing-lg: 4rem;      
    --spacing-xl: 5.8rem;    
  
    /* ==== global font size variables ==== */
    --fs-base: 1.0468rem;   
    --fs-md: 1.15rem;       
    --fs-lg: 1.275rem;      
    --fs-xl: 1.4375rem;     
    --fs-2xl: 1.6875rem;    
    --fs-3xl: 1.875rem;     
    --fs-4xl: 2.3rem;       
    --fs-5xl: 3.175rem;     
    --fs-6xl: 3.75rem;      
  
  }
}



/* tablets ( extra large )  */
@media screen and (min-width: 1024px) {
  :root{
    --spacing-xs: 1.65rem;   
    --spacing-sm: 2.55rem;   
    --spacing-md: 4rem;      
    --spacing-lg: 4.5rem;    
    --spacing-xl: 6.4rem;    
  
    /* ==== global font size variables ==== */
    --fs-base: 1.0624rem;   
    --fs-md: 1.2rem;        
    --fs-lg: 1.325rem;      
    --fs-xl: 1.5rem;        
    --fs-2xl: 1.75rem;      
    --fs-3xl: 1.9375rem;    
    --fs-4xl: 2.4rem;       
    --fs-5xl: 3.4625rem;    
    --fs-6xl: 4.125rem;     
  
  }
}





/* small monitor */
@media screen and (min-width: 1241px) {
  :root{
    --spacing-xs: 1.75rem;   
    --spacing-sm: 2.75rem;   
    --spacing-md: 4.5rem;    
    --spacing-lg: 5rem;      
    --spacing-xl: 7rem;      
  
    /* ==== global font size variables ==== */
    --fs-base: 1.078rem;    
    --fs-md: 1.25rem;       
    --fs-lg: 1.375rem;      
    --fs-xl: 1.5625rem;     
    --fs-2xl: 1.8125rem;    
    --fs-3xl: 2rem;         
    --fs-4xl: 2.5rem;       
    --fs-5xl: 3.75rem;      
    --fs-6xl: 4.5rem; 
  
  }
}



 /* large monitor */
 @media screen and (min-width: 1441px) {
  :root{
    
  --spacing-xs: 1.75rem;
  --spacing-sm: 2.75rem;
  --spacing-md: 4.5rem;
  --spacing-lg: 5rem;
  --spacing-xl: 7rem;

  --transition-fast: 0.2s;

   /* ==== global font size variables ====  */
   --fs-xxs: 0.75rem;  
   --fs-xs: 0.875rem;  
   --fs-sm: 1rem;      
   --fs-base: 1.125rem;
   --fs-md: 1.25rem;   
   --fs-lg: 1.375rem;  
   --fs-xl: 1.6875rem; 
   --fs-2xl: 2rem;     
   --fs-3xl: 2.125rem; 
   --fs-4xl: 2.5rem;   
   --fs-5xl: 3.75rem;  
   --fs-6xl: 4.5rem;   

  }
 }



/* ===========================
   Utility Classes
=========================== */
/* ======== flex box styles =========== */
.TN_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

.flex_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .flex_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .flex_center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

  .flex_align_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .flex_align_end{
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}


.flex_justify_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .flex_justify_between{
    -webkit-box-pack: justify-between;
    -ms-flex-pack: justify-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex_grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1; 
    flex-grow: 1;
  }

.flex_grow_double {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2; 
    flex-grow: 2;
  }

.flex_shrink {
  -webkit-flex-shrink: 1; 
  -ms-flex: 1 1 auto; 
  flex-shrink: 1;   
}

.flex_shrink_double {
  -webkit-flex-shrink: 2; 
  -ms-flex: 1 2 auto; 
  flex-shrink: 2;   
}

.grid {
    display: -ms-grid;
    display: grid;
  }

/* ===========================
   Browser Compatibility
=========================== */
/* Fix for older versions of Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    font-family: 'Arial', sans-serif;
  }
}

/* Fix for Safari */
@supports (-webkit-touch-callout: none) {
  input,
  textarea {
    font-size: inherit;
  }
}

/* Fix for older versions of Firefox */
@-moz-document url-prefix() {
  input[type='number'] {
    appearance: textfield;
  }
}



/* ======== text utility ======== */
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-bold {
  font-weight: bold;
}

.link_text{
  color: var(--clr-primary-700);
  transition: var(--transition-normal);
}
.link_text:hover{
  color: var(--clr-primary-900);
}

  
/*======= font sizes ======== */
.fs-xxs {
  font-size: var(--fs-xxs);
  line-height: var(--lh-normal);
}

.fs-xs {
  font-size: var(--fs-xs);
  line-height: var(--lh-normal);
}

.fs-sm {
  font-size: var(--fs-sm);
  line-height: var(--lh-normal);
}

.fs-base {
  font-size: var(--fs-base);
  line-height: var(--lh-md);
}

.fs-md {
  font-size: var(--fs-md);
  line-height: var(--lh-normal);
}

.fs-lg-lh-lg {
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
}

.fs-lg-lh-md {
  font-size: var(--fs-lg);
  line-height: var(--lh-md);
}

.fs-lg-lh-normal {
  font-size: var(--fs-lg);
  line-height: var(--lh-normal);
}

.fs-xl-lh-normal {
  font-size: var(--fs-xl);
  line-height: var(--lh-normal);
}

.fs-xl-lh-lg {
  font-size: var(--fs-xl);
  line-height: var(--lh-lg);
}

.fs-2xl {
  font-size: var(--fs-2xl);
  line-height: var(--lh-normal);
}

.fs-3xl {
  font-size: var(--fs-3xl);
  line-height: var(--lh-normal);
}

.fs-4xl {
  font-size: var(--fs-4xl);
  line-height: var(--lh-normal);
}

.fs-5xl {
  font-size: var(--fs-5xl);
  line-height: var(--lh-normal);
}

.fs-6xl {
  font-size: var(--fs-6xl);
  line-height: var(--lh-normal);
}

/* Button Styles */
.TN_btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  color: var(--light);
  font-size: var(--fs-base);
  transition: var(--transition-normal);
}

.TN_btn.btn-primary{
  background-color: var(--clr-primary-700);
  color: var(--clr-light);
}

.TN_btn.btn-primary:hover{
  background-color: var(--clr-primary-900);
}


/* container */
.TN_container{
  width: 100%;
  padding:16px ;
}

  /* large monitor */
  @media screen and (min-width: 768px) {
     /* container */
.TN_container{
  max-width: 1480px;
  padding:20px ;
}
  }

